<li id="post-<%= post._id %>">

    <p>
        <% if (locals.user && locals.user.id == post.user.id) { %>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"> Delete </a>
        </small>
        <% } %> 
        <li>
            <%= post.content %>
            <small> <%= post.user.name %></small>
        </li>
    </p>
    <div class="post-comments">
        <% if(locals.user) { %> 
            
            <form action="comments/create" method="POST">
                <input type="text" placeholder="Enter your Comment" name="content" required>
                <br>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <br>
                <input type="submit" value="Add Comment">
            </form>
        <% } %>
    </div>

    <div id="post-comment-list">
        <ul id="">
            <% for(comment of post.comments) { %>

                <%- include('_comment'); -%>
            
            <% } %>
        </ul>
    </div>
        
</li>